.pagination-outer {
    text-align: center;
}

.pagination {
    font-family: 'Poppins', sans-serif;
    display: inline-flex;
    position: relative;
}

.pagination li a.page-link {
    color: #000;
    background-color: #eee;
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
    height: 35px;
    width: 35px;
    padding: 0;
    margin: 0 6px;
    border-radius: 0;
    border: none;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.pagination li:first-child a.page-link,
.pagination li:last-child a.page-link {
    font-size: 25px;
    line-height: 33px;
}

.pagination li a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link:hover,
.pagination li.active a.page-link {
    color: #fff;
    background-color: transparent;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.pagination li a.page-link:before,
.pagination li a.page-link:after {
    content: '';
    background-color: #FF445D;
    height: 25%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 9px 0 #FF517E;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all 0.4s ease 0s;
}

.pagination li a.page-link:after {
    top: 25%;
    background-color: #FF7641;
    box-shadow: 0 8px 0 #FF9C00;
}

.pagination li a.page-link:hover:before,
.pagination li a.page-link:focus:before,
.pagination li.active a.page-link:hover:before,
.pagination li.active a.page-link:before {
    opacity: 1;
}

.pagination li a.page-link:hover:after,
.pagination li a.page-link:focus:after,
.pagination li.active a.page-link:hover:after,
.pagination li.active a.page-link:after {
    opacity: 1;
    top: 50%;
}

@media only screen and (max-width: 480px) {
    .pagination {
        font-size: 0;
        display: inline-block;
    }

    .pagination li {
        display: inline-block;
        vertical-align: top;
        margin: 10px 0;
    }
}
